@model IEnumerable<Examen.Entidades.Anime>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NombreAnime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaEstreno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreAnime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaEstreno)
                    </td>
                    <td>
                        @foreach (var tipo in item.Tipo)
                        {
                            <div>
                                @Html.DisplayFor(modelItem => tipo.NombreTipo)
                                @Html.DisplayFor(modelItem => tipo.TipoAudiencia)
                            </div>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AnimeID" class="btn btn-primary">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.AnimeID" class="btn btn-info">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.AnimeID" class="btn btn-danger">Delete</a> |
                        <a asp-action="AgregarTipo" asp-route-id="@item.AnimeID" class="btn btn-success">AgregarTipo</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
