@model IEnumerable<Examen.Entidades.Tipo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Añade un Tipo a un Anime</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreTipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoAudiencia)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Anime)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreTipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoAudiencia)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Anime.NombreAnime)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.TipoID" class="btn btn-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TipoID" class="btn btn-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TipoID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
